<nav class="top-nav" th:fragment="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="brand" th:href="@{/dashboard}">Book Fee Collection</a>
    <div class="nav-links">
        <a th:href="@{/dashboard}">Dashboard</a>
        <a th:href="@{/students}">Students</a>
        <a th:href="@{/fees}">Book Issues</a>
        <a th:href="@{/payments}">Payments</a>
        <a th:href="@{/reports}" sec:authorize="hasRole('ADMIN')">Reports</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <button class="link-button" type="submit">Logout</button>
    </form>
</nav>
